<div class="panel panel-padding">

	<form name="mainForm" class="form-horizontal" ng-submit="calculate()" novalidate>
	<div class="list" ng-show="!showResult">

		<label class="item item-input item-stacked-label">
			<span class="input-label">{{'FREQUENCY.LABEL' | translate}}</span>
			<input type="number" name="frequency" id="inputFrequency" placeholder="{{'FREQUENCY.PLACEHOLDER' | translate}}" ng-model="data.frequency" min="0.003" max="300000" step="any" required />
			<p ng-show="mainForm.frequency.$dirty && mainForm.frequency.$invalid" class="error-message" >{{'ERRORS.FREQUENCY' | translate}}</p>
		</label>

		<label class="item item-input item-stacked-label">
			<span class="input-label">{{'POWER.LABEL' | translate}}</span>
			<input type="number" name="power" placeholder="{{'POWER.PLACEHOLDER' | translate}}" ng-model="data.power" min="0.01" max="1000" step="any" required />
			<p ng-show="mainForm.power.$dirty && mainForm.power.$invalid" class="error-message" >{{'ERRORS.POWER' | translate}}</p>
		</label>

		<label class="item item-input item-stacked-label">
			<span class="input-label">{{'LOSSES.LABEL' | translate}}</span>
			<input type="number" name="losses" placeholder="{{'LOSSES.PLACEHOLDER' | translate}}" ng-model="data.losses" min="0.1" max="50" step="any" required />
			<p ng-show="mainForm.losses.$dirty && mainForm.losses.$invalid" class="error-message" >{{'ERRORS.LOSSES' | translate}}</p>
		</label>

		<label class="item item-input item-stacked-label">
			<span class="input-label">{{'ANTENNA.LABEL' | translate}}</span>
			<input type="number" name="antenna" placeholder="{{'ANTENNA.PLACEHOLDER' | translate}}" ng-model="data.antenna" min="1" max="50" step="any" required />
			<p ng-show="mainForm.antenna.$dirty && mainForm.antenna.$invalid" class="error-message" >{{'ERRORS.ANTENNA' | translate}}</p>
		</label>

		<label class="item item-input item-stacked-label">
			<span class="input-label">{{'DISTANCE.LABEL' | translate}}</span>
			<input type="number" name="distance" placeholder="{{'DISTANCE.PLACEHOLDER' | translate}}" ng-model="data.distance" min="0.1" max="500" step="any" required />
			<p ng-show="mainForm.distance.$dirty && mainForm.distance.$invalid" class="error-message" >{{'ERRORS.DISTANCE' | translate}}</p>
		</label>

		<label class="item item-input item-select">
			<div class="row">
				<div class="col">
					<div class="input-label">
					Modulation modes<br /> : {{ data.modulationMode.factor }}
					</div>
				</div>
				<div class="col">
					<select ng-model="data.modulationMode" ng-options="modulation.mode for modulation in modulationModes"></select>
				</div>
			</div>
		</label>

		<label class="item item-input item-select">
			<div class="row">
				<div class="col">
					<div class="input-label">
					Transmission time ratio<br /> : {{ data.transmissionTimeRatio.ratio }}
					</div>
				</div>
				<div class="col">
					<select ng-model="data.transmissionTimeRatio" ng-options="transmission.mode for transmission in transmissionTimeRatio"></select>
				</div>
			</div>
		</label>

		<button class="button button-block button-positive calculate" type="submit" ng-disabled="mainForm.$invalid">{{'CALCULATE' | translate}}</button>

	</div>
	</form>

	<!-- The result here -->
	<div ng-show="showResult" class="container-fluid result panel panel-padding">
	<!-- <div class="container-fluid result panel panel-padding" ng-class="showResult ? 'center' : 'right'"> -->
		<div ng-include src="'views/result.html'"></div>

		<button class="btn" ng-click="reset()">RESET</button>
	</div>

</div>